In [1]:
import pandas as pd
import csv

In [2]:
pd.__version__

'2.1.4'

In [3]:
df = pd.read_csv('yellow_tripdata_2019-01.csv', nrows=50)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
df_iter = pd.read_csv('yellow_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [9]:
df = next(df_iter)

In [10]:
len(df)

100000

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.50,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.60,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.00,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.00,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.00,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-01-01 13:43:31,2019-01-01 14:02:15,1,4.83,1,N,234,238,1,17.0,0.0,0.5,3.56,0.0,0.3,21.36,NaN
99996,1,2019-01-01 13:45:41,2019-01-01 13:51:12,4,1.10,1,N,230,186,2,6.0,0.0,0.5,0.00,0.0,0.3,6.80,NaN
99997,1,2019-01-01 13:52:57,2019-01-01 14:02:20,4,0.90,1,N,186,170,2,7.5,0.0,0.5,0.00,0.0,0.3,8.30,NaN
99998,2,2019-01-01 13:11:58,2019-01-01 13:16:56,5,1.72,1,N,107,229,2,7.0,0.0,0.5,0.00,0.0,0.3,7.80,NaN
99999,2,2019-01-01 13:20:35,2019-01-01 13:36:18,5,2.01,1,N,140,161,1,11.5,0.0,0.5,3.08,0.0,0.3,15.38,NaN

In [13]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [14]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 5.84 s
Wall time: 13.6 s

1000

In [15]:
from time import time

In [16]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()
    print('inserted another chunk...took %.3f second' % (t_end - t_start))

inserted another chunk...took 13.666 second
inserted another chunk...took 13.534 second
inserted another chunk...took 13.117 second
inserted another chunk...took 13.679 second
inserted another chunk...took 13.617 second
inserted another chunk...took 13.188 second
inserted another chunk...took 13.983 second
inserted another chunk...took 15.061 second
inserted another chunk...took 15.588 second
inserted another chunk...took 16.501 second
inserted another chunk...took 15.746 second
inserted another chunk...took 15.701 second
inserted another chunk...took 20.501 second
inserted another chunk...took 14.140 second
inserted another chunk...took 14.638 second
inserted another chunk...took 14.746 second
inserted another chunk...took 13.770 second
inserted another chunk...took 13.825 second
inserted another chunk...took 18.109 second
inserted another chunk...took 16.277 second
inserted another chunk...took 15.800 second
inserted another chunk...took 15.146 second
inserted another chunk...took 14.866 second
inserted another chunk...took 21.809 second
inserted another chunk...took 24.128 second
inserted another chunk...took 18.931 second
inserted another chunk...took 18.285 second
inserted another chunk...took 15.844 second
inserted another chunk...took 31.961 second
inserted another chunk...took 30.454 second
inserted another chunk...took 35.213 second
inserted another chunk...took 21.237 second
inserted another chunk...took 19.493 second
inserted another chunk...took 16.997 second
inserted another chunk...took 17.085 second
inserted another chunk...took 16.231 second
inserted another chunk...took 23.769 second
inserted another chunk...took 22.657 second
inserted another chunk...took 15.119 second
inserted another chunk...took 15.525 second
inserted another chunk...took 15.746 second
inserted another chunk...took 16.253 second
inserted another chunk...took 16.645 second
inserted another chunk...took 15.280 second
inserted another chunk...took 18.295 second
inserted another chunk...took 14.496 second
inserted another chunk...took 20.975 second
inserted another chunk...took 14.327 second
inserted another chunk...took 17.310 second
inserted another chunk...took 22.622 second
inserted another chunk...took 21.544 second
inserted another chunk...took 17.717 second
inserted another chunk...took 22.166 second
inserted another chunk...took 27.117 second
inserted another chunk...took 20.843 second
inserted another chunk...took 24.907 second
inserted another chunk...took 29.369 second
inserted another chunk...took 28.703 second
inserted another chunk...took 28.486 second
inserted another chunk...took 21.417 second
inserted another chunk...took 15.359 second
inserted another chunk...took 15.663 second
inserted another chunk...took 15.942 second
inserted another chunk...took 15.351 second
inserted another chunk...took 26.816 second
inserted another chunk...took 16.411 second
inserted another chunk...took 14.861 second
inserted another chunk...took 16.600 second
inserted another chunk...took 15.927 second
inserted another chunk...took 15.158 second
inserted another chunk...took 15.626 second
inserted another chunk...took 18.286 second
inserted another chunk...took 17.966 second
inserted another chunk...took 15.954 second
inserted another chunk...took 15.516 second
inserted another chunk...took 12.006 second

StopIteration: